@font-face {
    font-family: 'Lato', sans-serif;
    src: url("./assets/fonts/Lato-Bold.ttf") format("ttf"),
        url("./assets/fonts/Lato-Regular.ttf") format("ttf"),
        url("./assets/fonts/Lato-Black.ttf") format("ttf"),
        url("./assets/fonts/Lato-Light.ttf") format("ttf");
}

body{
    width: 1020px;
    margin: 1 auto;
}

.header{
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #323746;
}

.wrapper{
    width: 943px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_name {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 6.32px; */
    text-transform: uppercase;
}

.logo_star{
    color: #f06c64;;
}

.nav{
    display: flex;
    align-content: flex-end;
}

.navigation_item{
    display: inline-block;
    padding-top: 8px;
}


.navigation_link{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
    letter-spacing: -0.014em;
}

.active{
    color: #f06c64;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}

.slider{
    background-color: #f06c64;
    width: 1020;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.phone-container_left-phone{
    position: relative;
    left:8px;
    top: -2px;
}

.phone-container_right-phone{
    position: relative;
    right:6px;
    top: -3px;
}

.left{
    position: relative;
    left: 42px;
    bottom: 3px;
}

.right{
    position: relative;
    right: 42px;
    bottom: 3px;
}

.services{
    width: 1020px;
    height: 450px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.services-title{
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.1px;
}

.article{
    width: 943px;
}

.services_text{
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-top: 14px;
    line-height: 30px;
    letter-spacing: 0.17px;
    margin-top: 0;
    margin-bottom: 0;
}


.services_items_row-1{
    width: 943px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.services_item{
    display: flex;
    flex-direction: row;
}

.services-title{
    font-family: 'Lato-bold', sans-serif;
    color: #666d89;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 3px;
}

h3{
    color: #666d89;
    font-family: 'Lato-bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    line-height: 17.86px;
    margin-bottom: 9px;
    margin-left: 4px;
    letter-spacing: -0.6px;
}

.item_text{
    color: #767e9e;
    font-family: 'Lato-bold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.9px;
    width: 220px;
    margin-top: 0;
    margin-left: 5px;
    word-spacing: -1px;
    text-align: justify;
}

.ico {
    padding-top: 18px;
    padding-right: 18px;
}

.services_items_row-2{
    width: 943px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
}
 

